
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        .home  img{
            max-width:230px;
            max-height:80px;
            width: auto;
            height: auto;
            margin-right: 2000px;
        }
        .form-control{
            background: rgba(0, 0, 0, 0.3);
            padding-top: 20px;
            padding-right: 10px;
            padding-left: 10px;
        }
        h1 {
            font-size: 62px;
            background: -webkit-linear-gradient(#20fff8, #40ff90);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        input{
            border-left-style:none;
            border-right-style: none;
            border-top-style: none;
            border-bottom-style: solid;
            border-bottom-color: #11ffdd;
        }
        .form-signin{
            height: 600px;
            margin:auto;
            margin-top: 150px;
        }
        .form-floating{
            display: block;
            position: relative;
            margin:0 auto;
            margin-top: 30px;
            font-size: 20px;
            background: rgba(0, 0, 0, 0.3);
            background: -webkit-linear-gradient(#20fff8, #40ff90);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
        p{
            background: -webkit-linear-gradient(#20fff8, #40ff90);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
        a{
            background: -webkit-linear-gradient(#20fff8, #40ff90);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
        .form-floating1{
            position: relative;
            margin-top: 17px;
            font-size: 20px;
            background: rgba(0, 0, 0, 0.3);
            color: #11ffdd;
        }
        select{
            background: linear-gradient(120deg,#20fff8, #40ff90);
            margin-top: 20px;

        }
        .btn{
            margin-top: 20px;
            margin-bottom: 10px;
            color:black;
            background:linear-gradient(120deg,#20fff8, #40ff90) ;
            padding: 20px;
            font-size: 20px;
        }
    </style>
    <body class="text-center" data-new-gr-c-s-check-loaded="14.1065.0" data-gr-ext-installed="">
    <div class="form-signin w-25 ">
        <h1>Register</h1>
        <div class="form-control">
            {{ form_start(registrationForm) }}
            <div class="form-floating">
            {{ form_row(registrationForm.email) }}
            </div>
            <div class="form-floating">
        {{ form_row(registrationForm.username) }}
            </div>
            <div class="form-floating">
        {{ form_row(registrationForm.plainPassword) }}
            </div>
            <div class="form-floating1">
        {{ form_row(registrationForm.country) }}
            </div>
            <div class="form-floating">
        {{ form_row(registrationForm.agreeTerms) }}
            </div>

        <button type="submit" class="btn btn-primary btn-sm">Register</button>
            <p>Already have an account?</p>
            <a href={{ path('app_login') }}>Login here</a>
        {{ form_end(registrationForm) }}
        </div>
        </div>
    </div>
    </body>
{% endblock %}
