{% extends 'base2.html.twig' %}

{% block title %}Song index{% endblock %}

{% block body %}
    <style>
        .nav-link{
            color: gray;
        }
        .nav-link:focus, .nav-link:hover {
            color: white;
        }
        .nav{
            margin-bottom: 595px;
        }
        body{
            background-image:url({{ asset('images/music.jpg') }}); ;
            background-size: 200% 200%;
            animation: gradient 80s ease infinite;
            padding: 0;
            margin: 0;
        }
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        .sidebar{
            background:black;
        }
    </style>
    <body>
    <div class=" d-flex ">
        <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white " style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img class="bi pe-none me-2" width="40" height="32" src="{{ asset('images/home.png') }}" >
                <span class="fs-4">H2 music</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column ">
                <li class="nav-item">
                    <a href="{{ path('app_song_index')}}" class="nav-link" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_genre_index')}}" class="nav-link">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        <i class="fas fa-magnifying-glass"></i> Search
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_artist_index')}}" class="nav-link">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        <i class="fas fa-guitar"></i> Artist
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#" class="nav-link">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        <i class="fa-solid fa-music"></i> Create Playlist
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if app.user %}
                        <img src="{{ asset(app.user.ImgUrl)}}" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{ app.user.username }}</strong>
                    {% endif %}

                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="{{ path('app_user') }}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ app.user ? 'logout' : 'login' }}">{{ app.user ? 'Logout' : 'Login' }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
